[defaults]
remote_user = ansible
host_key_checking = false
inventory = inventory
forks = 4
callback_whitelist = log_plays
interpreter_python = auto

[privilege_escalation] 
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[callback_cgroup_perf_recap]
control_group=ansible_profile
